*{
   font-family: "Poppins", sans-serif;
   font-weight: bold;
   font-style: normal;
   box-sizing: border-box;
   margin: 0;
   padding: 0;

}
body{
    text-align: center;
    background: linear-gradient(60deg, rgb(7, 156, 255) ,rgba(245, 245, 245, 0.856));
    min-height: 100vh;
}
main{
    display: inline-block;
    margin-top: 4%;
    padding: 15px;
    margin-top: 150px; 
    margin-bottom: 300px;
    position: relative;
}
.pokedex{
    width: 250px;
    height: 350px;
    max-width: 250px;
    

}
.pokemon-image{
    position: absolute;
    bottom: 190px;
    left: 100px;
    max-height: 35%;
    max-width: 35%;

}
.pokemon-data{
    font-weight: bold;
    position: absolute;
    top: 52%;
    right: 29%;
    font-size: clamp(8px, 5vw, 25px);
 
    
}
.pokemon-number{
    color: rgb(27, 98, 206);
    font-size: 20px;
    
}
.pokemon-name{
    color: rgb(255, 0, 0);
    font-size: 20px;
    
}
.search {
    position: absolute;
    top:390px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 140px; 
    padding: 10px;
    font-size: 9px;
    border-radius: 20px;
    -webkit-box-shadow: -23px -26px 9px -20px rgba(230,209,230,1);
    -moz-box-shadow: -23px -26px 9px -20px rgba(230,209,230,1);
    box-shadow: -23px -26px 9px -20px rgba(230,209,230,1);
}
.search::placeholder{
    font-weight: bold;
} 
.button-prev{
    position: absolute;
    top:440px; 
    left: 45%;
    transform: translateX(-65%); 
     
    padding: 10px;
    font-size: 9px;
    border-radius: 10px;
    background-color: #444;
    color: white;
}
.button-next{
    position: absolute;
    top:440px; 
    left: 55%;
    transform: translateX(-65%); 
     
    padding: 10px;
    font-size: 9px;
    border-radius: 10px;
    background-color: #444;
    color: white;
}
.button-prev:active{
    background: red;
}
.button-next:active{
    background: red;
}